# node
node_modules/

# vs
.vs/
[Aa]pp_[Dd]ata/
[Bb]in/
[D]ebug/
[Aa]rtifacts/
[Oo]bj/
[Tt]est[Rr]esult/
[Tt]emp/
*.user
*.vspscc
*.vssscc
*.suo
*.cache

# dnx
project.lock.json
artifacts/

# deploy
source/build/artifacts/
source/build/node_modules/
source/build/tools/
!source/build/tools/packages.config

# misc
*~
*.swp
*.sdf
*.orig
testenvironments.local.json

# nuget
[Pp]ackages/

# approvals#
*.received.txt

# resharper
_ReSharper.*
*.resharper*
*.[Rr]e[Ss]harper.user
*.DotSettings.user

#windows stuff
Thumbs.db