<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="host_uri" value="http://localhost:8991" />
    <add key="testenvironments_relative_path" value=".\..\..\..\..\..\testenvironments.local.json" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>